<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default .Site.Language.Lang }}" data-theme="light">
{{ partial "head.html" . }}
<body class="site-body">
  <a class="skip-link" href="#content">{{ cond (eq .Site.Language.Lang "en") "Skip to content" "Ir para o conteúdo" }}</a>
  {{ partial "header.html" . }}
  <div id="content" tabindex="-1">
    {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "cookie-consent.html" . }}
  {{ partial "analytics.html" . }}
</body>
</html>
